<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Book Save</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Add New Book</h2>
            <div class="row">
                <div class="col-md-12">
                    <form action="#" th:action="@{/book/list}" th:object="${book}" method="POST">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Book Name</label>
                                <input type="text" th:field="*{bookName}" class="form-control" id="bookName" placeholder="BookName">
                            </div>
                        </div>
                        
                     
                        
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="publishYear" class="col-form-label">Publish Year</label>
                                <input type="text" th:field="*{publishYear}" class="form-control" id="publishYear" />
                            </div>
                        </div>
                        
                        
                        
                        <div class="row">
						<div class="form-group col-md-6">
							<label for="description" class="col-form-label">Book Description</label> 
							<input	type="text" th:field="*{description}" class="form-control"
								id="description" placeholder="Description">
						</div>
						</div>
                        
                        
                        
                        <div class="row">
						<div class="form-group col-md-6">
							<label for="comment" class="col-form-label">Book Comment</label> 
							<input	type="text" th:field="*{comment}" class="form-control"
								id="comment" placeholder="Comment">
						</div>
						</div>
						
						
						
						<div class="row">	
						<div class="col-md-6">
								<label for="authors" class="col-form-label">Select Author</label> 
								<select class="form-control" name="id">
									<option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">Authors</option>
								</select>
						 </div>
                    	 </div>  
                        
                        
                        
                        <div class="row">
                        <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>